
@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-Thin.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedThin.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-Light.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-LightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-Regular.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-Extended.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-Italic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-Medium.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedMedium.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-MediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-SemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedSemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-SemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-Bold.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-BoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-Heavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedHeavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaCurly-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-HeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaCurly-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaCurly-ExtendedHeavyItalic.ttf') format('truetype');
}
